In [1]:
now_ct <- Sys.time()

In [6]:
now_lt <- as.POSIXlt(now_ct)

In [12]:
unclass(list(a = 1, b = 2))

$a
[1] 1

$b
[1] 2

In [15]:
Sys.timezone()

[1] "Asia/Bangkok"

In [16]:
file.path(R.home('share'), 'zoneinfo', 'zone.tab')

[1] "C:/Users/nguye/Anaconda3/R/share/zoneinfo/zone.tab"

In [19]:
diff <- as.Date('1990-01-01') - as.Date('1970-01-01')

In [20]:
unclass(diff)

[1] 7305
attr(,"units")
[1] "days"

In [25]:
attributes(diff)

$units
[1] "days"

$class
[1] "difftime"

In [28]:
library(lubridate)

Attaching package: 'lubridate'

The following object is masked from 'package:base':

    date

In [29]:
?stamp

In [32]:
D <- ymd("2010-04-05") - days(1:5)
stamp("March 1, 1999")(D)

Multiple formats matched: "%B %d, %Y"(1), "March %m, %Y"(1)
Using: "%B %d, %Y"

[1] "April 04, 2010" "April 03, 2010" "April 02, 2010" "April 01, 2010"
[5] "March 31, 2010"

In [37]:
class(strftime(strptime('20/07/1969', '%d/%m/%Y')))

[1] "character"

In [39]:
# 11.1
beatles_birthdates <- c('1940-07-07', '1940-10-09', '1942-06-18', '1943-02-25')

In [41]:
beatles_lt_birthdates <- strptime(beatles_birthdates, '%Y-%m-%d')

In [46]:
strftime(beatles_lt_birthdates, '%a %d %b %y')

[1] "Sun 07 Jul 40" "Wed 09 Oct 40" "Thu 18 Jun 42" "Thu 25 Feb 43"

In [51]:
str(OlsonNames()[90])

 chr "America/Caracas"

In [55]:
file.path(R.home('share'), 'zoneinfo', 'zone.tab')

[1] "C:/Users/nguye/Anaconda3/R/share/zoneinfo/zone.tab"

In [190]:
# 11.2
?Sys.timezone

In [191]:
# 11.3
find_zodiac_sign <- function(birthdate){
    convert_to_date <- function(dates, year){
        return(strptime(paste(dates, year), '%B %d %Y'))
    }        
    birth_year <- substring(birthdate, nchar(birthdate) - 3, nchar(birthdate))
    birthdate <- strptime(birthdate, '%B %d %Y')
    
    zodiac_signs <- c('Aries', 'Taurus', 'Gemini', 'Cancer', 'Leo', 'Virgo', 
                      'Libra', 'Scorpio', 'Sagittarius', 'Capricorn', 
                      'Aquarius', 'Pisces')
    start_dates <- c('March 21', 'April 20', 'May 21', 'June 21', 'July 23', 
                     'August 23', 'September 23', 'October 23', 'November 22', 
                     'December 22', 'January 20',
                   'February 19')
    end_dates <- c('April 19', 'May 20', 'June 20', 'July 22', 'August 22',
                   'September 22', 'October 22', 'November 21', 'December 21', 
                   'January 19', 'February 18', 'March 20')
    
    zodiac_df <- data.frame(zodiac_signs = zodiac_signs,
                       start_dates = convert_to_date(start_dates, birth_year),
                       end_dates = convert_to_date(end_dates, birth_year),
                       stringsAsFactors = FALSE)
    
    # R seems to autoconvert POSIXlt to POSIXct when creating data frame
    # print(class(convert_to_date(start_dates, birth_year)))
    # print(class(zodiac_df$start_dates))
    
    zodiac_sign <- with(zodiac_df, 
                    zodiac_signs[birthdate %within% 
                                 interval(start_dates, end_dates)])
    return(zodiac_sign)
}

find_zodiac_sign('February 19 1473')

[1] "Pisces"

[1] "Pisces"