In [8]:
x <- factor(c('male', 'female'))
attributes(x)

$levels
[1] "female" "male"

$class
[1] "factor"

In [13]:
y <- 1:5
as.data.frame(y)

  y
1 1
2 2
3 3
4 4
5 5

In [ ]:
x <- 3

In [19]:
z <- letters[1:5]
summary(z)

   Length     Class      Mode
        5 character character

In [25]:
fac <- factor(c('Male', 'Female', 'Male'))
unclass(unclass(fac))

[1] 2 1 2
attr(,"levels")
[1] "Female" "Male"

In [27]:
View(fac)

ERROR: Error in View(fac): 'View()' not yet supported in the Jupyter R kernel

In [29]:
nums <- c(Inf, NA, NaN)

[1] "numeric"

In [53]:
# 3.2
pet_pool = c('dog', 'cat', 'hamster', 'goldfish')
sampled_pets = sample(pet_pool, 1000, replace=TRUE)
head(sampled_pets)

[1] "dog"     "hamster" "cat"     "dog"     "dog"     "cat"

In [55]:
summary(factor(sampled_pets))

     cat      dog goldfish  hamster
     246      266      238      250

In [65]:
vegetables <- c('squash', 'watermelon', 'apple', 'banana', 'cherry')
for (i in seq(vegetables)) {
    assign(vegetables[i], vegetables[i])
}

[1] "squash"

In [69]:
ls.str()

apple :  chr "apple"
banana :  chr "banana"
cherry :  chr "cherry"
fac :  Factor w/ 2 levels "Female","Male": 2 1 2
i :  int 5
nums :  num [1:3] Inf NA NaN
pet_pool :  chr [1:4] "dog" "cat" "hamster" "goldfish"
sampled_pets :  chr [1:1000] "dog" "hamster" "cat" "dog" "dog" "cat" "goldfish" "hamster" ...
squash :  chr "squash"
vegetables :  chr [1:5] "squash" "watermelon" "apple" "banana" "cherry"
watermelon :  chr "watermelon"
x :  Factor w/ 2 levels "female","male": 2 1
y :  int [1:5] 1 2 3 4 5
z :  chr [1:5] "a" "b" "c" "d" "e"

In [1]:
x <- 3
x

[1] 3