In [10]:
x <- (1:15) ^ 2
y <- noquote(paste(x))

In [27]:
cat('0123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789', fill = TRUE)

0123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789

In [35]:
paste(c('a', 'b'), 'c')

[1] "a c" "b c"

In [54]:
genders <- c('male', 'female', 'male')
gender_factors <- factor(genders, levels = c('male', 'female'))
gender_factors

[1] male   female male
Levels: male female

In [53]:
levels(gender_factors) <- c('female', 'male')
# Dangerous, changed factor values, not just the levels!
gender_factors

[1] female male   female
Levels: female male

In [57]:
factor(gender_factors, levels = c('female', 'male'))
# OK, changed level names, not actual labels

[1] male   female male
Levels: female male

In [69]:
ages <- 16 + 50 * rbeta(10000, 2, 3)
grouped_ages <- cut(ages, seq.int(16, 66, 10))
age_table <- table(grouped_ages)

In [73]:
attributes(age_table)

$dim
[1] 5

$dimnames
$dimnames$grouped_ages
[1] "(16,26]" "(26,36]" "(36,46]" "(46,56]" "(56,66]"


$class
[1] "table"

In [94]:
dirty <- data.frame(x = c('1.23', '7..56', '4.89', '2. 34'))

In [103]:
numeric_levels <- as.numeric(levels((dirty$x)))
numeric_levels[as.numeric(dirty$x)]

Warning message in eval(expr, envir, enclos):
"NAs introduced by coercion"

[1] 1.23   NA 4.89   NA

In [123]:
pow <- 1:3
powers_of_e <- exp(pow)
format(powers_of_e, digits = 3)

[1] " 2.72" " 7.39" "20.09"

In [167]:
# 7.1
formatC(pi, digits = 16)

[1] "3.141592653589793"

In [124]:
# 7.2
x <- c("Swan swam over the pond, Swim swan swim!", "Swan swam back again - Well swum swan!")

In [136]:
strsplit(x, ',? (- )?')

[[1]]
[1] "Swan"  "swam"  "over"  "the"   "pond"  "Swim"  "swan"  "swim!"

[[2]]
[1] "Swan"  "swam"  "back"  "again" "Well"  "swum"  "swan!"

In [146]:
# 7.3
three_d6 <- function(n)
{
    random_numbers <- matrix(
        sample(6, 3 * n, replace = TRUE),
        nrow = 3
    )
    colSums(random_numbers)
}

In [173]:
attributes <- three_d6(1000)

In [164]:
attribute_intervals <- cut(attributes, c(2, 3, 5, 8, 12, 15, 17, 18))
attribute_intervals

 [1] (5,8]   (15,17] (8,12]  (8,12]  (8,12]  (5,8]   (8,12]  (15,17] (8,12]
[10] (5,8]
Levels: (2,3] (3,5] (5,8] (8,12] (12,15] (15,17] (17,18]

In [174]:
# Using labels argument of cut
bonuses <- cut(attributes, c(2, 3, 5, 8, 12, 15, 17, 18), labels = -3:3)

In [175]:
table(bonuses)

bonuses
 -3  -2  -1   0   1   2   3
  4  46 202 509 181  54   4

In [166]:
c(-3, -2, -1, 0, 1, 2, 3)[attribute_intervals]
# Indexing using factor vector will convert factors to numeric codes
# (no need to use as.numeric)

 [1] -1  2  0  0  0 -1  0  2  0 -1