In [8]:
v_list <- vector('list', 10)
length(v_list)

[1] 10

In [23]:
sapply(c(1, 2, 5, 4), seq_len)

[[1]]
[1] 1

[[2]]
[1] 1 2

[[3]]
[1] 1 2 3 4 5

[[4]]
[1] 1 2 3 4

In [19]:
seq_len(10)

 [1]  1  2  3  4  5  6  7  8  9 10

In [28]:
df <- data.frame('a' = c(1, 2, 3), 'b' = c(4, 5, 6))

In [40]:
class(names(df))

[1] "character"

In [48]:
baby_gender_report <- function(gender) {
    switch(
    gender,
    male = "It's a boy!",
    female = "It's a girl!",
    "Um...")
}

genders <- c('male', 'female', 'other')
sapply(genders, baby_gender_report)

          male         female          other
 "It's a boy!" "It's a girl!"        "Um..."

In [53]:
split(c(4, 2, 5, 6, 1), c(1, 0, 0, 1, 0))

$`0`
[1] 2 5 1

$`1`
[1] 4 6

In [81]:
apropos('apply')

 [1] "apply"      "dendrapply" "eapply"     "kernapply"  "lapply"
 [6] "mapply"     "rapply"     "sapply"     "tapply"     "tryapply"
[11] "vapply"

In [82]:
?eapply

In [83]:
# 9.1
wayans <- list(
"Dwayne Kim" = list(),
"Keenen Ivory" = list(
"Jolie Ivory Imani",
"Nala",
"Keenen Ivory Jr",
"Bella",
"Daphne Ivory"
),
Damon = list(
"Damon Jr",
"Michael",
"Cara Mia",
"Kyla"
),

ERROR: Error in parse(text = x, srcfile = src): <text>:17:0: unexpected end of input
15: "Kyla"
16: ),
   ^

In [84]:
wayans <- list(
"Dwayne Kim" = list(),
"Keenen Ivory" = list(
"Jolie Ivory Imani",
"Nala",
"Keenen Ivory Jr",
"Bella",
"Daphne Ivory"
),
Damon = list(
"Damon Jr",
"Michael",
"Cara Mia",
"Kyla"
),
Kim = list(),
Shawn = list(
"Laila",
"Illia",
"Marlon"
),
Marlon = list(
"Shawn Howell",
"Arnai Zachary"
),
Nadia = list(),
Elvira = list(
"Damien",
"Chaunté"
),
Diedre = list(
"Craig",
"Gregg",
"Summer",
"Justin",
"Jamel"
),
Vonnie = list()
)

In [127]:
lapply(wayans, length)

$`Dwayne Kim`
[1] 0

$`Keenen Ivory`
[1] 5

$Damon
[1] 4

$Kim
[1] 0

$Shawn
[1] 3

$Marlon
[1] 2

$Nadia
[1] 0

$Elvira
[1] 2

$Diedre
[1] 5

$Vonnie
[1] 0

In [155]:
vapply(wayans, length, integer(1))

  Dwayne Kim Keenen Ivory        Damon          Kim        Shawn       Marlon
           0            5            4            0            3            2
       Nadia       Elvira       Diedre       Vonnie
           0            2            5            0

In [116]:
# 9.2
apply(state.x77, 2, mean)

Population     Income Illiteracy   Life Exp     Murder    HS Grad      Frost
 4246.4200  4435.8000     1.1700    70.8786     7.3780    53.1080   104.4600
      Area
70735.8800

In [162]:
str(state.x77)

 num [1:50, 1:8] 3615 365 2212 2110 21198 ...
 - attr(*, "dimnames")=List of 2
  ..$ : chr [1:50] "Alabama" "Alaska" "Arizona" "Arkansas" ...
  ..$ : chr [1:8] "Population" "Income" "Illiteracy" "Life Exp" ...

In [118]:
apply(state.x77, 2, sd)

  Population       Income   Illiteracy     Life Exp       Murder      HS Grad
4.464491e+03 6.144699e+02 6.095331e-01 1.342394e+00 3.691540e+00 8.076998e+00
       Frost         Area
5.198085e+01 8.532730e+04

In [128]:
# 9.3
time_for_commute <- function()
{
#Choose a mode of transport for the day
mode_of_transport <- sample(
c("car", "bus", "train", "bike"),
size = 1,
prob = c(0.1, 0.2, 0.3, 0.4)
)
#Find the time to travel, depending upon mode of transport
time <- switch(
mode_of_transport,
car = rlnorm(1, log(30), 0.5),
bus = rlnorm(1, log(40), 0.5),
train = rnorm(1, 30, 10),
bike = rnorm(1, 60, 5)
)
names(time) <- mode_of_transport
time
}

In [129]:
commute_times <- replicate(1000, time_for_commute())
commute_data <- data.frame(
time = commute_times,
mode = names(commute_times)
)

In [146]:
with(commute_data, tapply(time, mode, quantile, 0.75))

    bike      bus      car    train
63.47098 57.08573 45.66166 36.65215

In [139]:
tapply(commute_data$time, commute_data$mode, quantile, 0.75)

    bike      bus      car    train
63.47098 57.08573 45.66166 36.65215